<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>

    <!--Prod-->
    <add name="Quotes_ConnectionString" connectionString="Server=SAPMSQLNLAMS101; Database=E2EQuote1; Uid=Quoteuser; Pwd=Quote@123;connection Lifetime=120000; MultipleActiveResultSets=True; Encrypt=True;TrustServerCertificate=True"/>

    <!--UAT-->
    <!--<add name="Quotes_ConnectionString" connectionString="Server=SAPMSQLNLAMS106; Database=E2EQuote1; Uid=QUOTEAPPUSER; Pwd=D@qU0t3@PpU$3r*!;connection Lifetime=120000; MultipleActiveResultSets=True; Encrypt=True;TrustServerCertificate=True"/>-->

  </connectionStrings>
</configuration>